openapi: 3.1.0
info:
  title: Bunny.net Core Platform APIKeys Countries API
  description: 'Best-effort OpenAPI 3.1 description of the Bunny.net Core Platform REST API for managing

    Pull Zones, Storage Zones, DNS Zones, Stream video libraries, statistics, billing,

    purge, API keys, and reference data.


    Authentication uses the `AccessKey` header containing your account API key issued from

    the Bunny.net dashboard.

    '
  version: '1.0'
  contact:
    name: Bunny.net
    url: https://docs.bunny.net/reference/bunnynet-api-overview
servers:
- url: https://api.bunny.net
  description: Bunny.net Core Platform API
security:
- accessKeyAuth: []
tags:
- name: Countries
paths:
  /countries:
    get:
      tags:
      - Countries
      summary: Get country list
      operationId: getCountries
      responses:
        '200':
          description: Countries
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    Name:
                      type: string
                    IsoCode:
                      type: string
                    IsEU:
                      type: boolean
                    TaxRate:
                      type: number
                    TaxPrefix:
                      type: string
                    FlagUrl:
                      type: string
                    PopList:
                      type: array
                      items:
                        type: string
components:
  securitySchemes:
    accessKeyAuth:
      type: apiKey
      in: header
      name: AccessKey
      description: API key issued from the Bunny.net dashboard.
